body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 2em;
  margin-bottom: 5px;
}

header h2, header h3 {
  font-size: 1.5em;
  margin-top: 0;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
