body {
    background-color: #919191;
    font-family: 'Raleway';
}

header {
    background-color: #007bff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    font-family: 'Segoe UI', sans-serif;
    font-size: 35px;
}

.link-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.link-button img {
    width: 100%;
    height: auto; 
}


.link-button {
    background-color: #ffffff;
    border: 2px solid #007bff;
    color: #007bff;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.link-button:hover {
    background-color: #007bff;
    color: #ffffff;
}

.main-content {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.sidebar {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.content {
    flex-grow: 1;
}

#chart-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.info-images-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #d1d1d1;
    padding: 20px;
    border-radius: 8px;
}

.info-boxes {
    display: flex;
    gap: 20px;
}

.info-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
}

.vector-image {
    flex: 1;
    height: auto;
    max-height: 400px; /* Ajusta la altura máxima de las imágenes */
    object-fit: cover;
    border-radius: 8px;
}

.footer-links a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

.footer-links {
    text-align: center;
    margin-bottom: 10px;
}

footer {
    background-color: #333333; /* Gris oscuro del footer */
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: #ffffff;
}

.data-button {
    text-decoration: none;
    color: #007bff;
}
